*
!.gitignore
!include
include/*
!include/templater/
include/templater/*
!include/templater/plugins
include/templater/plugins/*
!include/templater/plugins/modifier.cgpbanks.php
!include/templater/plugins/modifier.cgpgiftcarddetails.php
!skin
!skin/*
!skin/common_files/
skin/common_files/*
!skin/common_files/payments/
skin/common_files/payments/*
!skin/common_files/payments/cc_cgp_banktransfer.tpl
!skin/common_files/payments/cc_cgp_creditcard.tpl
!skin/common_files/payments/cc_cgp_directdebit.tpl
!skin/common_files/payments/cc_cgp_directebanking.tpl
!skin/common_files/payments/cc_cgp_giropay.tpl
!skin/common_files/payments/cc_cgp_ideal.tpl
!skin/common_files/payments/cc_cgp_giftcard.tpl
!skin/common_files/payments/cc_cgp_mistercash.tpl
!skin/common_files/payments/cc_cgp_paypal.tpl
!skin/common_files/payments/cc_cgp_afterpay.tpl
!skin/common_files/payments/cc_cgp_klarna.tpl
!skin/common_files/payments/cc_cgp_bitcoin.tpl
!skin/common_files/payments/cc_cgp_przelewy24.tpl
!skin/common_files/customer/main/payment_cgp_ideal.tpl
!skin/common_files/customer/main/payment_cgp_giftcard.tpl
!payment/
payment/*
!payment/cardgateplus/
!payment/cc_cgp_banktransfer.php
!payment/cc_cgp_creditcard.php
!payment/cc_cgp_directdebit.php
!payment/cc_cgp_directebanking.php
!payment/cc_cgp_giropay.php
!payment/cc_cgp_ideal.php
!payment/cc_cgp_giftcard.php
!payment/cc_cgp_mistercash.php
!payment/cc_cgp_paypal.php
!payment/cc_cgp_afterpay.php
!payment/cc_cgp_bitcoin.php
!payment/cc_cgp_klarna.php
!payment/cc_cgp_przelewy24.php
!payment/cgp_notify.php
!README.md
!README_DE.md
!README_NL.md